@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* APP */
body {
background-color: #000d07;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
color: white;
font-family: "Rubik", sans-serif;
}

/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* todos list */

.title{
    text-align: center;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.todo {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    font-size: 1.5rem;
}

.mutations {
  display: flex;
  gap: 0.5rem;
}

.todo__status,
.todo__delete {
    border: none;
    padding : 0;
    line-height: 1;
    cursor: pointer;
    transition : all 0.2s;

    &:hover {
        transform: scale(1.15);
    }
}

/* form */
.form {
    display: flex;
    gap: 0.5rem;
    width: 50%;
    margin: 1rem auto;
}

.form__input {
    flex: 1;
    padding: 0.25rem 0.5rem;
}